.header {
	position: initial;
	min-width: 1520px;
	max-width: 1520px;
	margin: auto;
	padding: 20px 0;
}

.menuTarget {
	font-size: 16px;
	font-weight: 500;
	line-height: 19.36px;
	color: #6e7686;
	padding: 0;
	cursor: pointer;
}

.indicator {
	div:first-child {
		top: 8px;
		right: 7px;
	}
}
