.header {
	position: static;
	padding: 16px 0;
}

.content {
	margin: auto;
	min-width: 1440px;
	max-width: 1440px;
	padding-inline: 135px;
}

.logo {
	cursor: pointer;
}

.menuTarget {
	font-size: 16px;
	font-weight: 500;
	line-height: 19.36px;
	color: #6e7686;
	padding: 0;
	cursor: pointer;
}

.indicator {
	div:first-child {
		top: 8px;
		right: 7px;
	}
}
