.tab {
	padding: 13px 20px;

	font-size: 18px;
	font-weight: 500;
	line-height: 21.78px;
	color: #6e7686;

	&[data-active] {
		color: #13a3b9;
		font-weight: 500;
		border-bottom: 2px solid #13a3b9;
	}
}

.tabList {
	&::before {
    width: 0;
	}
}

.tabLabel {
	font-size: var(--font-size-medium);
	line-height: 23px;
	letter-spacing: -0.5px;
}
